<div class="container">
    <div class="buttons-panel">
        <button class="skip btn btn btn-secondary btn-sm" ng-if="visitedQuestions.length>1" ng-click="back()">Back</button>
        <button class="skip btn btn btn-secondary btn-sm" ng-click="showSettingsDialog()">Settings</button>
        <button class="skip btn btn btn-secondary btn-sm" ng-click="showInputsDialog()">Inputs</button>
        <button class="skip btn btn btn-secondary btn-sm" ng-click="showSummary()">Summary</button>
        <button class="skip btn btn btn-secondary btn-sm">Statistics</button>
    </div>

    <h1 class="question display-1">{{current.questionStr}}</h1>
    <h4 class="question-subtitle display-4">{{current.subTitle}}</h4>

    <div class="answers row d-flex justify-content-around" ng-if="current.mode==questionMode.BUTTONS">
        <span ng-repeat="answer in current.answers">
            <button ng-if="answer.selected" class="answer btn btn-primary btn-xlarge selected" ng-click="next(answer)">{{answer.str}}</button>
            <button ng-if="!answer.selected" class="answer btn btn-primary btn-xlarge" ng-click="next(answer)">{{answer.str}}</button>
        </span>
    </div>

    <div class="answers row d-flex justify-content-around" ng-if="current.mode==questionMode.MULTI_CHOICE">
        <span ng-if="current.multiChoiceYesNo">
            <span ng-repeat="answer in current.answers" class="yesNoAnswers">
                <br/>
                <a class="yes-no-answer-text">{{answer.str}}</a>
                <span class="yes-no-buttons-span">
                    <button ng-if="!answer.isAnswered || !answer.selected" class="answer btn btn-primary btn-xlarge" ng-click="setSelectionOnYesNo(answer, true)">כן</button>
                    <button ng-if="answer.selected" class="answer btn btn-primary btn-xlarge selected">כן</button>
                    <button ng-if="!answer.isAnswered || answer.selected" class="answer btn btn-primary btn-xlarge" ng-click="setSelectionOnYesNo(answer, false)">לא</button>
                    <button ng-if="answer.isAnswered && !answer.selected" class="answer btn btn-primary btn-xlarge selected">לא</button>
                </span>
                <br/>
            </span>
            <br/>
        </span>
        <span ng-if="!current.multiChoiceYesNo" class="multiAnswers">
            <span ng-repeat="answer in current.answers" class="multi-answer-buttons-span">
                <button ng-if="answer.selected" class="answer btn btn-primary btn-xlarge selected" ng-click="toggleSelection(answer)">{{answer.str}}</button>
                <button ng-if="!answer.selected" class="answer btn btn-primary btn-xlarge" ng-click="toggleSelection(answer)">{{answer.str}}</button>
            </span>
        </span>
        <div class="d-flex justify-content-around nextDiv"> 
            <button class="answer btn btn-primary btn-xlarge continue" ng-disabled="isNextDisabled()" ng-click="next({str:freeTextAnswer})">המשך</button>
        </div>
    </div>

    <div class="free-text-wrapper" ng-if="current.mode==questionMode.FREE_TEXT">
            <div class="d-flex justify-content-around"> 
                <textarea ng-model="freeTextAnswer"></textarea>
            </div>
            <div class="d-flex justify-content-around"> 
                <button class="answer btn btn-primary btn-xlarge" ng-click="next({str:freeTextAnswer})">המשך</button>
            </div>
    </div>

    <div class="skip-wraper d-flex justify-content-around" ng-if="current.allowSkip"> 
        <button class="skip btn btn btn-secondary btn-sm" ng-click="next({str:'לא יודע'})" ng-show="current.allowSkip">לא יודע \ דלג</button>
    </div>
    
    <!-- <div class="print-summary-wraper d-flex justify-content-around">
        <button class="btn btn btn-secondary btn-sm" ng-click="printSummary()" ng-show="end && !summary">הדפס סיכום</button>
    </div>
    <div class="summary-wraper d-flex justify-content-around"> 
        <h5 class="summary-print display-5" ng-show="summary && end">{{summary}}</h1>
    </div> -->
</div>

<div class="popup" ng-click="hideRuleOutsPopup(true)">
    <span class="popuptext ruleout" id="ruleOutsPopup">{{this.getRuleOutsPopupText()}}</span>
</div>

<div class="popup-action" ng-click="hideActionsPopup(true)">
    <span class="popuptext-action" id="actionsPopup">{{this.getActionsPopupText()}}</span>
</div>

<div id="myModal" class="modal" ng-style="{overflow:'auto'}">
    <div class="modal-content">
        <span class="myModal-close">&times;</span>
        <span class="modal-text">
            <div class="alerts" ng-if="summary.alerts && summary.alerts.length>0">
                <h3>התרעות</h3><span class="summary-alert" ng-repeat="alert in summary.alerts" ng-click="showReasons(alert)">{{alert.name}}<br/></span>
            </div>
            <div>
                <h3>אבחנה מבדלת</h3>
                <div class="confirmed-rule-outs" ng-repeat="ruleOut in summary.confirmedRuleOuts" ng-click="showReasons(ruleOut)">
                    {{ruleOut.name}}<br/>
                 </div>
                <div class="top-rule-outs" ng-repeat="ruleOut in summary.topRuleOuts" ng-click="showReasons(ruleOut)">
                   {{ruleOut.name}}<br/>
                </div>
                <div class="summary-rule-out" ng-repeat="ruleOut in summary.ruleOuts" ng-click="showReasons(ruleOut)">
                    <b ng-if="ruleOut.strengthText" ng-class="getStrengthTextClass(ruleOut)">{{ruleOut.strengthText}}: </b>{{ruleOut.name}}<br/>
                </div>
            </div>

            <div class="summary-section">
                <h3>אנמנזה</h3><br/>
                <span class="summary-text" ng-repeat="paragraph in summary.anamnesisStory">
                    <span ng-if="hasRows(paragraph)"><b>{{paragraph.title}}</b><br/>
                        <span ng-repeat="row in paragraph.rows"><label ng-if="row">{{row}}</label></span><br/>
                    </span>
                    <!-- <br ng-if="hasRows(paragraph)"/> -->
                </span>
            </div>

            <div class="summary-section">
                <h3 class="summary-link" ng-click="showAnswersSummary()"><a>פירוט תשובות</a></h3>
            </div>
            <hr>
            <div class="summary-section">
                <h3>אפשרויות להמשך בירור</h3>
                <div ng-repeat="actionSection in summary.actionSections" ng-if="actionSection.actions.length > 0">
                    <b>{{actionSection.name}}:</b><br>
                    <span class="summary-action" ng-repeat="action in actionSection.actions">
                        <a>{{action.name}}</a> 
                        <span ng-style="{'font-size':'x-large','color':'green'}" ng-if="shouldDisplayActionConfirmButton(action) && action.isConfirmed"><b>✓</b></span>
                        <button class="answer btn btn-primary btn-small" ng-if="shouldDisplayActionConfirmButton(action) && !action.isConfirmed" ng-click="performAction(action)">בצע</button><br/>
                    </span>
                </div>
            </div>
        </span>
    </div>
</div>

<div id="item-modal" class="modal" ng-style="{overflow:'auto'}">
    <div class="item-modal-content">
        <span class="item-modal-close">&times;</span>
        <br/>
        <br/>
        <h2>{{getItemName()}}</h2>
        <br/>
        <h4>תשובות רלוונטיות</h4>
        <span class="modal-text" ng-repeat="reason in getItemData()"><b>{{reason.questionStr}}:</b> {{reason.answerStr}}<br/></span>
        <span ng-if="!(data=getItemData())">Not Available</span>
        <div class="modal-text rule-out-summary" ng-if="shouldShowRuleOutSummary()"><br/><br/><b>{{getRuleOutSummary()}}</b></div>
        <span ng-if="getItemScore() && (getItemScore().value || getItemScore().value==0)" class="score-span">
            <br/>
            <br/>
            <h4 class="score-title" ng-if="getItemScore().name">{{getItemScore().name}}</h4>
            <h4 class="score-title" ng-if="getItemScore().displayScore">Score: {{getItemScore().value}}</h4>
            <span class="modal-text" ng-if="getItemScore().reasons && getItemScore().reasons.length>0" ng-repeat="reason in getItemScore().reasons"><b>{{reason.questionStr}}<span ng-if="reason.answerStr && reason.answerStr.length>0">:</span></b><span ng-if="reason.answerStr && reason.answerStr.length>0"> {{reason.answerStr}}</span><b ng-if="reason.scoreAmount && reason.scoreAmount!=0"> (<span ng-if="reason.scoreAmount>0" class="positive-score-amount">+{{reason.scoreAmount}}</span><span ng-if="reason.scoreAmount<0" class="negative-score-amount">{{reason.scoreAmount}}</span>)</b><br/></span>
            <br/>
            <span class="score-reference-panel" ng-if="getItemScore().reference && getItemScore().reference.trim().length>0"><b>מקרא:</b><br/>{{getItemScore().reference.trim()}}</span>
        </span>
    </div>
</div>

<div id="answers-summary-modal" class="modal" ng-style="{overflow:'auto'}">
    <div class="answers-summary-modal-content">
        <span class="answers-summary-modal-close">&times;</span>
        <br/>
        <br/>
        <h2>פירוט תשובות</h2><br/>
        <span ng-repeat="q in getAnswersSummary()" ng-class="q.answers? 'summary-rule-out' : ''" ng-click="q.answers && showMultiAnswerSummary(q)" ng-if="q.shouldDisplayForDoctor">
            <!-- <b>{{q.questionStr}}:</b> {{q.answerStr}}<br/> -->

            <b>{{q.doctorDisplayText || q.questionStr}}:</b>
            <span ng-if="q.answers" ng-repeat="answer in q.answers">{{answer}}<span ng-if="!$last">, </span></span>
            <span ng-if="q.answer">{{q.answer}}</span>
            <br/>
        </span>
    </div>
</div>

<div id="multi-answer-summary-modal" class="modal" ng-style="{overflow:'auto'}">
    <div class="answers-summary-modal-content">
        <span class="multi-answer-summary-modal-close">&times;</span>
        <h2>{{selectedMultiAnswerQuestion.questionStr}}</h2><br/>
        <span ng-repeat="answer in selectedMultiAnswerQuestion.answers">
            <span ng-style="{'font-size':'larger', 'color':'green'}">{{answer}} <b>✓</b></span>
            <br/>
        </span>
        <span ng-repeat="answer in selectedMultiAnswerQuestion.unselectedAnswers">
            <span ng-style="{'color':'red'}">{{answer}} <b>✗</b></span>
            <br/>
        </span>
    </div>
</div>

<div id="inputs-modal" class="modal" ng-style="{overflow:'auto'}">
    <div class="inputs-modal-content">
        <span class="inputs-modal-close">&times;</span>
        <span class="modal-text" ng-repeat="inputParameterGroup in getInputParameters()">
            <b>{{inputParameterGroup.questionStr}}</b><br/>
            <span ng-if="true" ng-repeat="parameter in inputParameterGroup.answers">
                <span ng-if="parameter.type != 'radio'">{{parameter.str}}: </span>
                <span ng-if="parameter.type == 'radio'">{{getRadioTitle(parameter.str)}}:  </span>
                <textarea ng-if="parameter.type==='free-text'" ng-model="inputParameters[inputParameterGroup.questionStr+'@@@_@@@'+parameter.str]"></textarea>
                <input type="checkbox" ng-if="parameter.type==='checkbox'" ng-model="inputParameters[inputParameterGroup.questionStr+'@@@_@@@'+parameter.str]"></input>
                <div class="input-radio-option" ng-if="parameter.type==='radio'" ng-repeat="radioValue in getRadioValues(parameter.str)">
                    <input type="radio" ng-model="inputParameters[inputParameterGroup.questionStr+'@@@_@@@'+parameter.str]" ng-value="radioValue" ng-name="parameter.str"> {{radioValue}}</input>&nbsp;&nbsp;</span><br/>
                </div><br/><br/>
            </span>
        <div class="d-flex justify-content-around">
            <button class="answer btn btn-primary btn-xlarge" ng-click="onPressedSubmitInputDialog()">אישור</button>
        </div>
    </div>
</div>

<div id="settings-modal" class="modal" ng-style="{overflow:'auto'}">
    <div class="settings-modal-content">
        <span class="settings-modal-close">&times;</span>
        <br/>
        <h1>אפשרויות</h1>
        <span ng-repeat="s in getAppSettings()">
            <span ng-click="s.onChanged()">{{s.name}} <input type="checkbox" ng-model="s.value"></input><br/></span>
        </span>
        <br/>
        <br/>
        <span class="language-span">
            <b>שפה:</b><br/><input type="radio" id="English" name="language" value="English"> English &nbsp;&nbsp;<input type="radio" checked id="Hebrew" name="language" value="Hebrew"> עברית &nbsp;&nbsp;<input type="radio" id="Arabic" name="language" value="Arabic"> عربى &nbsp;&nbsp;<input type="radio" id="Russian" name="language" value="Russian"> русский &nbsp;&nbsp;
        </span>
        <br/>

        <br/>
        <div class="d-flex justify-content-around">
            <button class="answer btn btn-primary btn-medium" ng-click="closeModal('settings-modal')">אישור</button>
        </div>
    </div>
</div>