h4 {
  font-size: xx-small;
}

body {
  direction: rtl;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div.answer {
    display: inline-block;
    margin-top: 30px;
}

.multiAnswers{
  width: 100%;
  display: contents;
}

/* display: block; */


.multi-answer-buttons-span {
  float: right;
}

/* .yesNoAnswers {
  width: 100%;
  display: inline-table;
}

.yes-no-buttons-span {
  margin-left: 40.5%;
} */

.yesNoAnswers {
  width: 100%;
  /* display: inline-table; */
  display: flow-root;
}

.yes-no-buttons-span {
}

.yes-no-answer-text {
  /* text-align: center; */
  
  text-align: right;
  font-weight: 500;
  font-size: 1.75rem;
  float: right;
  max-width: 70%;
  padding-left: 25px;
  padding-bottom: 50px;
  padding-top: 8px;

  /* text-align: right;
  font-weight: 500;
  font-size: 1.75rem;
  float: right;
  padding-left: 25px;
  max-width: 70%; */
  

  /* text-align: center;
  font-weight: 500;
  line-height: 2.75;
  font-size: 1.75rem;
  float: right;
  padding-left: 25px;
  width: 60%; */
}

/* .yesNoAnswers {
  width: 100%;
  display: -webkit-box;
}

.yes-no-buttons-span {
  margin-left: 40.5%;
  padding-right: 40%;
  margin-right: 50%;
} */


.question {
    text-align: center;
}

button.btn-xlarge {
    /* background-color: #0c45fc; */
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    margin: 5px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
button.btn-xlarge:hover {
  /* background-color: #0335d3; */
}
button.btn-small {
  /* background-color: #0c45fc; */
  line-height: normal;
  margin: 3px;
}
button.btn-small:hover {
  /* background-color: #0335d3; */
}

.nextDiv {
  width: 100%;
}

/* button.selected {
    background-color: blueviolet;
}

button.selected:hover {
    background-color: rebeccapurple;
}

button.continue {
    background-color: palevioletred;
}

button.continue:hover {
    background-color: #a15079;
} */

button.selected {
  background-color: forestgreen;
  /* background-color: #abffbf; */
  /* background-color: #00e637; */
}

button.selected:hover {
  background-color: #127612;
  /* background-color: #00b42b; */
}

/* button.continue {
  background-color: palevioletred;
}

button.continue:hover {
  background-color: #a15079;
} */

button.continue {
  background-color: blueviolet;
  /* background-color: #e3d5ff; */
  /* background-color: #732dff; */
}

button.continue:hover {
  background-color: rebeccapurple;
  /* background-color: #3f00bc; */
}

button.continue:disabled {
  background-color: gray;
}

button.continue:hover:disabled {
  background-color: gray;
}

.gate-messege {
    text-align: center;
    display: block !important;
    margin-top: 200px;
    margin-bottom: 50px;
}

.summary-print {
    text-align: right;
    white-space: pre-line;
    width: 100%;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    white-space: break-spaces;
    /* width: 500px; */
    /* height: 150px; */
    background-color: palevioletred;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* position: absolute; */
    z-index: 1;
    /* bottom: 100%; */
    /* left: 100%; */
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: xx-large;

    /* TODO: THIS CAN'T BE GOOD */
    position: fixed;
    left: 75px;
    /* top: 800px; */
    bottom: 25px;
  }

  /* margin-left: -80px; */

  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: palevioletred transparent transparent transparent;
  }
  /* cornflowerblue */
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }








  .popup-action {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup-action .popuptext-action {
    visibility: hidden;
    white-space: break-spaces;
    /* width: 500px; */
    /* height: 150px; */
    background-color: sandybrown;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* position: absolute; */
    z-index: 1;
    /* bottom: 100%; */
    /* left: 100%; */
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: xx-large;

    /* TODO: THIS CAN'T BE GOOD */
    position: fixed;
    right: 75px;
    /* top: 800px; */
    bottom: 25px;
  }

  /* margin-left: -80px; */

  
  /* Popup arrow */
  .popup-action .popuptext-action::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: sandybrown transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup-action .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }








  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-left: 100px; /* Location of the box */
  padding-top: 100px; /* Location of the box */
  padding-right: 100px; /* Location of the box */
  padding-bottom: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: auto;  /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  width: 70%;
}
.item-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  /* top: 25%; */
  top: 5%;
  position: relative;
  text-align: center;
  width: 75%;
}
.answers-summary-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  position: relative;
  text-align: center;
  width: 75%;
}
.multi-answer-summary-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  position: relative;
  text-align: center;
  width: 75%;
}
.inputs-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  top: 0%;
  position: relative;
  text-align: center;
  width: 75%;
}
.settings-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 2px solid #888;
  top: 0%;
  position: relative;
  text-align: center;
  width: 75%;
}

.modal-text {
  text-align: center;
}

/* The Close Button */
.myModal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.myModal-close:hover,
.myModal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.item-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.item-modal-close:hover,
.item-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.answers-summary-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.answers-summary-modal-close:hover,
.answers-summary-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.multi-answer-summary-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.multi-answer-summary-modal-close:hover,
.multi-answer-summary-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.inputs-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.inputs-modal-close:hover,
.inputs-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.settings-modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.settings-modal-close:hover,
.settings-modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.summary-link {
  color:royalblue;
  cursor: pointer;
}

.summary-link:hover {
  color:blue;
  cursor: pointer;
}

.summary-rule-out {
  cursor: pointer;
}

.summary-rule-out:hover {
  cursor: pointer;
  color:blue;
}

.summary-alert {
  color: red;
}

.summary-alert:hover {
  color:blue;
  cursor: pointer;
}

.summary-action:hover {
  cursor: default;
  color:blue;
}


.weak-strength-text {
  color: burlywood
}
.weak-strength-text:hover {
  cursor: pointer;
}

.strong-strength-text {
  color:lightsalmon
}
.strong-strength-text:hover {
  cursor: pointer;
}


.very-strong-strength-text {
  color:lightcoral
}
.very-strong-strength-text:hover {
  cursor: pointer;
}


.must-strength-text {
  color:red
}
.must-strength-text:hover {
  cursor: pointer;
}

.progress-bar {
  width: 100%;
  direction: ltr;
}

@keyframes expandWidth {
  0% { width: 0; }
  100% { width: auto; }
}

.buttons-panel {
  direction: ltr;
  padding-top: 10px;
}

.confirmed {
  font-size: larger;
  color: green;
}

.score-span {
  
}

.score-title {
  color: dodgerblue;
}

.score-reference-panel {
  white-space: break-spaces; 
}

.positive-score-amount{
  color:forestgreen;
  direction: ltr;
}

.negative-score-amount {
  color:red;
  direction: ltr;
}

.inc-span {
  font-size: x-large;
  /* font-family: Copperplate, "Copperplate Gothic Light"; */
  font-family: "Gill Sans MT";
  /* padding-top: 0.75%;
  padding-left: 4.75%; */
}

#load-file {
  /* padding-left: -1%; */
  /* padding-left: 1%; */
}

.gate-button {
  margin-top: 30px;
}

.answers {
  margin-top:60px;
}

.summary-section {
  margin-top: 40px;
}

.alerts {
  margin-bottom: 40px;
}

.confirmed-rule-outs {
  font-weight: bold;
  font-size: larger;
  color:lightcoral;
  cursor: pointer;
}

.top-rule-outs {
  color:lightcoral;
  cursor: pointer;
}

.question-subtitle {
  text-align: center;
}

.input-radio-option {
  display: inline-block;
}