<div class="gate container">
    <div class="gate-wrapper" ng-if="!clickedNext">
        <div class="gate-messege row">
            <h1 class="display-1"><b>SmartED</b></h1>
        </div>
        <div class="gate-button d-flex justify-content-around">
            <button class="btn btn-primary btn-xlarge" ng-click="next()">המשך</button>
        </div>
        <!-- <div>
            <span class="inc-span"><b>.Smart Medical Inc</b></span>
        </div> -->
    </div>
    
    <question ng-if=clickedNext></question>
    
</div>